description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ this.page.title }}</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ this.page.meta_title }}">
    <!-- SEO -->
    <meta name="author" content="Christian Hotz-Behofsits">
    <meta name="description" content="{{ this.page.meta_description }}">
    <link rel="canonical" href="http://justrocketscience.com">
    <!-- Social Media -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <!-- Favicon by http://realfavicongenerator.net/-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{'assets/favicon/apple-touch-icon-57x57.png'|theme}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{'assets/favicon/apple-touch-icon-60x60.png'|theme}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{'assets/favicon/apple-touch-icon-72x72.png'|theme}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{'assets/favicon/apple-touch-icon-76x76.png'|theme}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{'assets/favicon/apple-touch-icon-114x114.png'|theme}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{'assets/favicon/apple-touch-icon-120x120.png'|theme}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{'assets/favicon/apple-touch-icon-144x144.png'|theme}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{'assets/favicon/apple-touch-icon-152x152.png'|theme}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{'assets/favicon/apple-touch-icon-180x180.png'|theme}}">
    <link rel="icon" type="image/png" href="{{'assets/favicon/favicon-32x32.png'|theme}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{'assets/favicon/android-chrome-192x192.png'|theme}}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{'assets/favicon/favicon-96x96.png'|theme}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{'assets/favicon/favicon-16x16.png'|theme}}" sizes="16x16">
    <meta name="theme-color" content="#ffffff">
    <!-- DNS Prefetch -->

    {% styles %}
    <link href="{{ ['assets/css/all.min.css']|theme }}" rel="stylesheet">

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.justrocketscience.com"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.cloudhipsters.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
</head>

<body class="page-{{ this.page.id }} layout-{{ this.layout.id }}">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="container">
      <div class="row">
          <div id="logo" class="col-md-6 col-md-offset-3">
              <a href="/">
                <img class="center-block img-fluid" src="{{ 'assets/images/logo.png' | theme }}" alt="logo">
            </a>
          </div>
      </div>

      <div class="row">
        {% partial 'nav' %}
      </div>


      <div class="row">
          {% page %}
      </div>
    </div>


    <!-- Footer -->
    {% partial 'footer' %}

    <!-- Scripts -->
    <script src="{{ ['assets/js/all.min.js']|theme }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!--{% framework extras %} -->
    {% scripts %}
    <noscript><p><img src="//stats.cloudhipsters.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
